In [1]:
import pandas as pd
#import numpy as np

In [2]:
#Read the DataFrame
df=pd.read_csv('text_emotion.csv')
df.head()

,tweet_id,emotion,author,content
0,1956967341,empty,xoshayzers,@tiffanylue i know i was listenin to bad habi...
1,1956967666,sadness,wannamama,Layin n bed with a headache ughhhh...waitin o...
2,1956967696,sadness,coolfunky,Funeral ceremony...gloomy friday...
3,1956967789,enthusiasm,czareaquino,wants to hang out with friends SOON!
4,1956968416,neutral,xkilljoyx,@dannycastillo We want to trade with someone w...

In [3]:
#remove unwanted columns
df=df.drop(['tweet_id','author'], axis =1)
df.head()

      emotion                                            content
0       empty  @tiffanylue i know  i was listenin to bad habi...
1     sadness  Layin n bed with a headache  ughhhh...waitin o...
2     sadness                Funeral ceremony...gloomy friday...
3  enthusiasm               wants to hang out with friends SOON!
4     neutral  @dannycastillo We want to trade with someone w...

In [4]:
#convert content to lowercase
df.content=df.content.str.lower()
df.head()

      emotion                                            content
0       empty  @tiffanylue i know  i was listenin to bad habi...
1     sadness  layin n bed with a headache  ughhhh...waitin o...
2     sadness                funeral ceremony...gloomy friday...
3  enthusiasm               wants to hang out with friends soon!
4     neutral  @dannycastillo we want to trade with someone w...

In [5]:
#replace blank space
df.content=df.content.str.replace("rt","")
df.head()

      emotion                                            content
0       empty  @tiffanylue i know  i was listenin to bad habi...
1     sadness  layin n bed with a headache  ughhhh...waitin o...
2     sadness                funeral ceremony...gloomy friday...
3  enthusiasm               wants to hang out with friends soon!
4     neutral  @dannycastillo we want to trade with someone w...

In [6]:
#replace @username
df.content=df.content.str.replace("@\\w+","")
df.head()

      emotion                                            content
0       empty   i know  i was listenin to bad habit earlier a...
1     sadness  layin n bed with a headache  ughhhh...waitin o...
2     sadness                funeral ceremony...gloomy friday...
3  enthusiasm               wants to hang out with friends soon!
4     neutral   we want to trade with someone who has houston...

In [7]:
#remove punctuation
df.content=df.content.str.replace("[[:punct:]]","")
df.head()

      emotion                                            content
0       empty   i know  i was listenin to bad habit earlier a...
1     sadness  layin n bed with a headache  ughhhh...waitin o...
2     sadness                funeral ceremony...gloomy friday...
3  enthusiasm               wants to hang out with friends soon!
4     neutral   we want to trade with someone who has houston...

In [8]:
#remove links
df.content=df.content.str.replace("http\\w+","")
df.head()

      emotion                                            content
0       empty   i know  i was listenin to bad habit earlier a...
1     sadness  layin n bed with a headache  ughhhh...waitin o...
2     sadness                funeral ceremony...gloomy friday...
3  enthusiasm               wants to hang out with friends soon!
4     neutral   we want to trade with someone who has houston...

In [9]:
#remove tabs
df.content=df.content.str.replace("[ |\t]{2,}","")
df.head()

      emotion                                            content
0       empty   i knowi was listenin to bad habit earlier and...
1     sadness  layin n bed with a headacheughhhh...waitin on ...
2     sadness                funeral ceremony...gloomy friday...
3  enthusiasm               wants to hang out with friends soon!
4     neutral   we want to trade with someone who has houston...

In [10]:
#remove blank spaces at the beginning
df.content=df.content.str.replace("^ ","")
df.head()

      emotion                                            content
0       empty  i knowi was listenin to bad habit earlier and ...
1     sadness  layin n bed with a headacheughhhh...waitin on ...
2     sadness                funeral ceremony...gloomy friday...
3  enthusiasm               wants to hang out with friends soon!
4     neutral  we want to trade with someone who has houston ...

In [11]:
#remove blank spaces at the end
df.content=df.content.str.replace(" $","")
df.head()

      emotion                                            content
0       empty  i knowi was listenin to bad habit earlier and ...
1     sadness  layin n bed with a headacheughhhh...waitin on ...
2     sadness                funeral ceremony...gloomy friday...
3  enthusiasm               wants to hang out with friends soon!
4     neutral  we want to trade with someone who has houston ...

In [12]:
emotion_type=df.emotion.value_counts()
emotion_type

neutral       8638
worry         8459
happiness     5209
sadness       5165
love          3842
surprise      2187
fun           1776
relief        1526
hate          1323
empty          827
enthusiasm     759
boredom        179
anger          110
Name: emotion, dtype: int64

In [13]:
X=df.content
X.head()

0    i knowi was listenin to bad habit earlier and ...
1    layin n bed with a headacheughhhh...waitin on ...
2                  funeral ceremony...gloomy friday...
3                 wants to hang out with friends soon!
4    we want to trade with someone who has houston ...
Name: content, dtype: object

In [14]:
print(X.shape)

(40000,)

In [16]:
y=df.emotion
y.head()

0         empty
1       sadness
2       sadness
3    enthusiasm
4       neutral
Name: emotion, dtype: object

In [17]:
print(y.shape)

(40000,)

In [18]:
from sklearn.model_selection  import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.70, random_state = 82)

In [19]:
X_train.head()

39316    got an re exam on tuesday. wish me luck / pray...
7642     i got mcdonalds, surpisingly its not a popular...
27239    is exhausted from a great weekend, and is look...
1367                               aw. the sky is weeping.
24255                         listening to varsity fanclub
Name: content, dtype: object

In [20]:
y_train.head()

39316      neutral
7642       sadness
27239    happiness
1367        relief
24255        worry
Name: emotion, dtype: object

In [21]:
X_test.head()

6162                                 no...i'm just tired..
32424            awwwwi've got some photos of cute bunnies
17915    24 hours and $400 later and i hav a new teleco...
16358           i would but i'm afraid i got two left feet
2560     i lost all my friends, i'm alone and sleepy..i...
Name: content, dtype: object

In [22]:
y_test.head()

6162     neutral
32424       love
17915       hate
16358    sadness
2560     sadness
Name: emotion, dtype: object

In [23]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer(stop_words='english')

In [24]:
vect.fit(X_train)
vect.vocabulary_

{'got': 6395,
 'exam': 5229,
 'tuesday': 15337,
 'wish': 16394,
 'luck': 8952,
 'pray': 11551,
 'thank': 14635,
 'xxx': 16681,
 'mcdonalds': 9294,
 'surpisingly': 14253,
 'popular': 11465,
 'drunk': 4743,
 'food': 5741,
 'option': 10701,
 'sucks': 14123,
 'diners': 4396,
 'aren': 1336,
 '24hrs': 181,
 'anymore': 1247,
 'exhausted': 5255,
 'great': 6487,
 'weekend': 16174,
 'looking': 8851,
 'forward': 5801,
 'week': 16170,
 'aw': 1544,
 'sky': 13370,
 'weeping': 16189,
 'listening': 8721,
 'varsity': 15812,
 'fanclub': 5386,
 'believe': 1955,
 'spotted': 13797,
 'dick': 4349,
 'english': 5046,
 'dishhttp': 4460,
 'tinyurl': 14918,
 'com': 3374,
 'aq8zg': 1318,
 'hahaha': 6660,
 'wow': 16576,
 'thanks': 14640,
 'bud': 2535,
 'plan': 11296,
 'pretend': 11602,
 'costume': 3668,
 'cold': 3340,
 'wear': 16140,
 'sweatshi': 14306,
 'gotcha': 6397,
 'place': 11288,
 'atlantic': 1455,
 'better': 2006,
 'surfingplus': 14248,
 'like': 8669,
 'close': 3273,
 'crazy': 3768,
 'foreign': 5769,
 'restaurants': 12308,
 'mmm': 9645,
 'fl': 5617,
 'gas': 6086,
 'pulleaase': 11780,
 'dont': 4591,
 'hate': 6805,
 'ask': 1409,
 'question': 11862,
 'answer': 1218,
 'given': 6249,
 'time': 14889,
 'just': 8085,
 'sorry': 13642,
 'day': 4062,
 'life': 8652,
 'lately': 8479,
 'feel': 5462,
 'ya': 16689,
 'girl': 6225,
 'lt': 8947,
 'wangotangowhere': 16046,
 'lol': 8799,
 'nice': 10199,
 'guys': 6622,
 'rocked': 12450,
 'tonight': 15048,
 'yes': 16794,
 'tacoma': 14393,
 'kids': 8216,
 'rule': 12578,
 'feeling': 5465,
 'gonna': 6340,
 'fall': 5366,
 'asleep': 1413,
 'man': 9132,
 'tha': 14628,
 'mojitos': 9682,
 'earlier': 4829,
 'feelin': 5464,
 'type': 15503,
 'funny': 6000,
 'hope': 7222,
 'don': 4578,
 'sickhttp': 13231,
 'myloc': 9999,
 '20dd': 156,
 'sadness': 12650,
 'hang': 6740,
 'apathetic': 1268,
 'quot': 11891,
 'know': 8298,
 'quiz': 11887,
 'took': 15085,
 'yeti': 16817,
 'pics': 11206,
 'yday': 16728,
 'fb': 5438,
 'xx': 16680,
 'jet': 7951,
 'blue': 2197,
 'okay': 10575,
 'guess': 6586,
 'cancel': 2743,
 'flights': 5647,
 'lot': 8889,
 'backup': 1690,
 'planes': 11299,
 'class': 3218,
 'haha': 6656,
 'lolno': 8811,
 'effing': 4922,
 'cool': 3606,
 'wu': 16609,
 'tang': 14444,
 'shis': 13121,
 'gorgeous': 6385,
 'represent': 12268,
 'yea': 16731,
 'awwww': 1602,
 'sweet': 14318,
 'good': 6342,
 'happy': 6761,
 'mother': 9821,
 'momsyou': 9711,
 'sure': 14240,
 'hea': 6856,
 'mankind': 9161,
 'long': 8835,
 'mow': 9865,
 'lawn': 8509,
 'soo': 13605,
 'fucking': 5960,
 'sick': 13225,
 'wades': 15989,
 'mood': 9755,
 'swings': 14338,
 'uhh': 15549,
 'asshole': 1426,
 'ahhhh': 943,
 'hear': 6898,
 'kiddo': 8213,
 'feels': 5469,
 'lots': 8893,
 'cast': 2850,
 'damn': 3981,
 'interested': 7664,
 'working': 16528,
 'care2': 2796,
 'live': 8734,
 'sf': 13002,
 'biiig': 2063,
 'headache': 6864,
 'really': 12042,
 'supposed': 14233,
 'home': 7160,
 'couple': 3695,
 'days': 4086,
 'noti': 10374,
 'borders': 2297,
 'visa': 15908,
 'little': 8731,
 'boy': 2352,
 'makin': 9101,
 'mework': 9457,
 'storm': 13978,
 'wfd': 16244,
 'lasagna': 8465,
 '45': 333,
 'minutes': 9570,
 'hungry': 7364,
 'staing': 13854,
 'spoil': 13778,
 'pug': 11775,
 'brother': 2493,
 'max': 9264,
 'passed': 10968,
 'away': 1557,
 'miss': 9593,
 'hhrs': 7030,
 'hey': 7009,
 'mainly': 9087,
 'depressing': 4264,
 'people': 11078,
 'cheating': 3021,
 'love': 8911,
 'going': 6317,
 'bed': 1910,
 'mom': 9687,
 'll': 8753,
 'look': 8846,
 'tomorrow': 15033,
 'definitely': 4182,
 'want': 16049,
 'graph': 6472,
 'tweets': 15410,
 'possible': 11483,
 'yeaa': 16732,
 'smaier': 13457,
 'plus': 11374,
 'knows': 8312,
 'real': 12028,
 'thing': 14744,
 'ryan': 12614,
 'stopped': 13972,
 'following': 5727,
 'twitter': 15455,
 'relaxing': 12181,
 'practice': 11542,
 'graduation': 6443,
 'tested': 14603,
 'subjects': 14099,
 'davis': 4054,
 'michigan': 9484,
 'hahha': 6678,
 'work': 16511,
 'youth': 16887,
 'justice': 8086,
 'lovely': 8923,
 'alas': 995,
 'cubs': 3862,
 'gracious': 6433,
 'stop': 13970,
 'wrecking': 16588,
 'house': 7281,
 'soaking': 13534,
 'bones': 2244,
 'yesss': 16799,
 'flash': 5622,
 'shitty': 13129,
 'takes': 14417,
 'open': 10679,
 'webpage': 16157,
 'thhaanks': 14738,
 'friend': 5882,
 'sent': 12950,
 'bck': 1864,
 'messages': 9432,
 'dunno': 4785,
 'reply': 12255,
 'credit': 3783,
 'thts': 14823,
 'practicing': 11544,
 'smile': 13471,
 'today': 14972,
 'gunna': 6611,
 'big': 2042,
 'klaudine': 8269,
 '04182012154': 8,
 'send': 12936,
 'txtd': 15497,
 'new': 10164,
 'phone': 11163,
 'right': 12391,
 'second': 12889,
 'gig': 6203,
 'sippinn': 13304,
 'whut': 16319,
 'waterwe': 16108,
 'sta': 13840,
 'focused': 5698,
 'job': 7977,
 'alriiightt': 1069,
 'drank': 4669,
 'bank': 1776,
 'holiday': 7142,
 'happened': 6751,
 'times': 14903,
 'mums': 9940,
 'ur': 15723,
 'delle': 4216,
 'shut': 13214,
 'line': 8696,
 'removed': 12224,
 'locker': 8784,
 'scene': 12791,
 'bet': 2001,
 'recite': 12086,
 'speech': 13727,
 'easily': 4846,
 'dare': 4017,
 'sleep': 13395,
 'deprived': 4267,
 'hot': 7261,
 'coffee': 3332,
 'nowit': 10402,
 'fun': 5974,
 'wanna': 16048,
 'australia': 1517,
 'england': 5044,
 'shoes': 13147,
 'circa': 3188,
 'brand': 2379,
 'totally': 15131,
 'forgot': 5785,
 'pink': 11246,
 'radio': 11927,
 'launched': 8499,
 'listen': 8718,
 'finish': 5574,
 'assignment': 1429,
 'round': 12521,
 'buying': 2648,
 'ice': 7417,
 'creams': 3772,
 'lawyer': 8512,
 'knocked': 8293,
 'kilter': 8230,
 'hard': 6773,
 'talking': 14431,
 'pretty': 11608,
 'didn': 4357,
 'make': 9097,
 'impression': 7518,
 'loving': 8937,
 'dreambears': 4685,
 'britains': 2456,
 'talent': 14424,
 'spending': 13746,
 'way': 16118,
 'desktop': 4292,
 'background': 1669,
 'gm': 6290,
 'withnow': 16424,
 'http': 7313,
 'podilates': 11387,
 'gr': 6422,
 'pp2_10_5_08': 11531,
 'tr': 15168,
 'im': 7479,
 'kp06': 8343,
 'surrealism': 14260,
 'cute': 3906,
 'louis': 8902,
 'votton': 15967,
 'superflat': 14212,
 'monogram': 9738,
 'takashi': 14411,
 'murakami': 9948,
 'music': 9964,
 'fantastic': 5392,
 'plastic': 11313,
 'machine': 9035,
 'lula': 8969,
 'm8kcsq': 9016,
 'happens': 6753,
 'swine': 14334,
 'flu': 5675,
 'gets': 6171,
 '55hq2o': 462,
 '20': 143,
 'followers': 5718,
 'actual': 800,
 'write': 16593,
 'realistic': 12032,
 'thinking': 14761,
 'road': 12430,
 'fuck': 5953,
 'blink': 2160,
 'weezer': 16193,
 'doing': 4563,
 'awesome': 1566,
 'rachel': 11915,
 'bday': 1866,
 'pay': 11005,
 'todayit': 14984,
 'btw': 2522,
 'seensam': 12908,
 'prom': 11703,
 'pix': 11278,
 'wrong': 16601,
 'cal': 2697,
 'dachshund': 3949,
 'rescue': 12286,
 'foster': 5804,
 'pup': 11799,
 'soooooo': 13620,
 'sad': 12632,
 'leave': 8552,
 'naw': 10087,
 'tame': 14439,
 'guy': 6618,
 'voyager': 15969,
 'style': 14089,
 'medical': 9334,
 'uni': 15635,
 'disappointed': 4423,
 'weren': 16235,
 'purple': 11809,
 'converse': 3585,
 'turns': 15362,
 'decemberists': 4141,
 'ended': 5024,
 'staying': 13909,
 'latebut': 8476,
 'night': 10224,
 'different': 4372,
 'chocolate': 3127,
 'change': 2971,
 'meet': 9356,
 'yesterdaygr8': 16807,
 'atmosphere': 1460,
 'amp': 1132,
 'discussion': 4449,
 'bit': 2091,
 'hollie': 7150,
 'staed': 13846,
 'crying': 3843,
 'help': 6964,
 'makeup': 9100,
 'gots': 6402,
 'fineand': 5566,
 'shot': 13171,
 'film': 5545,
 'mention': 9410,
 'downloading': 4644,
 'fightstar': 5527,
 'version': 15847,
 'imogen': 7504,
 'heap': 6895,
 'hiide': 7056,
 'seek': 12903,
 '15': 83,
 'versions': 15849,
 'song': 13599,
 'siblings': 13223,
 'left': 8569,
 'bored': 2301,
 'dad': 3950,
 'gave': 6099,
 'old': 10596,
 'blackberry': 2116,
 'doesn': 4546,
 'scroll': 12861,
 'ball': 1744,
 'bold': 2232,
 'iprocrastinate': 7725,
 'far': 5394,
 'character': 2986,
 'flaw': 5634,
 'gotta': 6403,
 'session': 12982,
 '11': 56,
 'emerge': 4994,
 'covers': 3715,
 '36': 277,
 'screw': 12856,
 'disney': 4468,
 'cracked': 3734,
 'ta': 14377,
 'whatsaidi': 16266,
 'steady': 13911,
 'dinner': 4398,
 'mommy': 9703,
 'grandma': 6453,
 'hollywood': 7156,
 'panera': 10917,
 'iphone': 7721,
 'trying': 15310,
 'talk': 14427,
 'lagso': 8402,
 'isn': 7758,
 'worry': 16561,
 'calcutta': 2702,
 'delhi': 4205,
 'lucknow': 8957,
 '10': 33,
 'absence': 723,
 'school': 12805,
 'reviens': 12345,
 '15h30': 86,
 'sunburnt': 14185,
 'horrible': 7239,
 'owl': 10821,
 'huh': 7338,
 'signing': 13260,
 'play': 11316,
 'world': 16549,
 'conflict': 3511,
 'computer': 3476,
 'running': 12592,
 'slow': 13435,
 'emailed': 4983,
 'porch': 11468,
 'anytime': 1255,
 'come': 3386,
 'knocking': 8294,
 'gifford': 6197,
 'lectures': 8562,
 'page': 10859,
 'halla': 6707,
 'haloom': 6713,
 'dear': 4122,
 'fine': 5565,
 'eeem': 4905,
 'worrying': 16562,
 'rationale': 11994,
 'project': 11698,
 'allah': 1020,
 'eyaseer': 5306,
 'inshallah': 7620,
 'baltimore': 1752,
 'beat': 1885,
 'yankees': 16703,
 'morning': 9780,
 'think': 14756,
 'hire': 7095,
 'tranlsators': 15205,
 'understands': 15606,
 'wishing': 16399,
 'money': 9725,
 'sux': 14280,
 'education': 4891,
 'friday': 5875,
 'freakin': 5832,
 'annoying': 1208,
 'daybuuut': 4069,
 'tgif': 14625,
 'fav': 5424,
 'try': 15306,
 'usuallya': 15755,
 'quitter': 11886,
 'case': 2840,
 'include': 7541,
 'follow': 5712,
 'twitpic': 15448,
 '64g3b': 520,
 'lucky': 8958,
 'bought': 2331,
 'magazine': 9058,
 'later': 8480,
 'comanche': 3376,
 'saturday': 12741,
 'car': 2781,
 'definately': 4179,
 'written': 16597,
 'garage': 6077,
 'rang': 11972,
 'said': 12665,
 'cost': 3660,
 '3k': 296,
 'insurance': 7648,
 'action': 791,
 'ly': 9005,
 'm8zfxi': 9017,
 'pole': 11414,
 '__': 668,
 'clients': 3255,
 'everyday': 5199,
 'pulling': 11782,
 'knitting': 8289,
 'desk': 4291,
 'putting': 11822,
 'minus': 9568,
 'till': 14884,
 'release': 12187,
 'idea': 7427,
 'gift': 6199,
 'did': 4352,
 'crochet': 3813,
 'online': 10639,
 'youtube': 16890,
 'videos': 15875,
 'showing': 13194,
 'lefty': 8572,
 'hahah': 6659,
 'xd': 16665,
 'cha': 2943,
 'doin': 4562,
 'watching': 16100,
 'broncos': 2483,
 'vs': 15973,
 'chiefs': 3081,
 '1994': 121,
 'montana': 9741,
 'elway': 4979,
 'nfl': 10184,
 'network': 10158,
 'nightmares': 10240,
 'gamefu': 6067,
 'kc': 8147,
 'morningplan': 9794,
 'church': 3167,
 'followed': 5713,
 'f1': 5316,
 'lunch': 8975,
 'mum': 9932,
 'dads': 3957,
 'dm': 4518,
 'discussions': 4450,
 'star': 13876,
 'trek': 15241,
 'wait': 16002,
 'sec': 12887,
 'hotdogging': 7263,
 'sign': 13253,
 'jesus': 7950,
 'heals': 6889,
 'everybody': 5197,
 'ohh': 10548,
 'def': 4169,
 'tht': 14822,
 'kenyatta': 8170,
 'cam': 2723,
 'minesry': 9552,
 'pic': 11193,
 'socialmediatv': 13545,
 'recorded': 12097,
 'viewable': 15884,
 'social': 13543,
 'media': 9333,
 'tv': 15370,
 'gt': 6574,
 'ustre': 15751,
 '2njv': 232,
 'ugh': 15540,
 'waiting': 16006,
 'visitors': 15917,
 'pass': 10967,
 'post': 11485,
 'taking': 14419,
 'forever': 5773,
 'shoooooot': 13154,
 'afraid': 876,
 'say': 12760,
 'oh': 10544,
 'seeso': 12911,
 'having': 6830,
 'hehe': 6933,
 'alot': 1056,
 'az': 1629,
 'finest': 5569,
 'vol': 15949,
 'intro': 7691,
 'lookn': 8852,
 'domina': 4575,
 'sun': 14174,
 'fits': 5606,
 'draw': 4673,
 'chicago': 3073,
 'row': 12531,
 'losing': 8884,
 'game': 6061,
 'need': 10107,
 'win': 16360,
 'soon': 13606,
 'mondays': 9721,
 'rock': 12448,
 'paicularly': 10867,
 'kind': 8234,
 'sunday': 14186,
 'taylor': 14493,
 'dolton': 4573,
 'jacob': 7858,
 'chris': 3148,
 'sister': 13316,
 'heading': 6873,
 'airpo': 975,
 'mothers': 9824,
 'uncles': 15592,
 'ew': 5220,
 'used': 15739,
 'suicides': 14152,
 'high': 7041,
 'mix': 9628,
 'sodas': 13552,
 'drink': 4706,
 'remember': 12210,
 'enjoying': 5055,
 'safe': 12658,
 'pooling': 11444,
 'paid': 10868,
 'flight': 5646,
 'headed': 6871,
 'denver': 4246,
 'yall': 16701,
 'min': 9541,
 'yeah': 16738,
 '10th': 53,
 'greeting': 6512,
 'advance': 850,
 'brewing': 2424,
 'ideas': 7430,
 'things': 14749,
 'keeping': 8154,
 'fingers': 5572,
 'crossed': 3819,
 'hale': 6702,
 'yeahhh': 16742,
 'coolest': 3608,
 'pa': 10840,
 'match': 9238,
 'grieco': 6524,
 'goodbyeeee': 6344,
 'arizona': 1350,
 'weeks': 16185,
 'mrscuz': 9887,
 'workreally': 16538,
 'gregi': 6516,
 'hug': 7327,
 'happymothersday': 6766,
 'moms': 9709,
 'sunshine': 14205,
 'bag': 1710,
 'stuff': 14070,
 'bihday': 2053,
 'chip': 3108,
 'hanging': 6742,
 'cousin': 3707,
 'jimmy': 7963,
 'hopefully': 7224,
 'layed': 8516,
 '23': 173,
 'teachers': 14508,
 'city': 3196,
 'near': 10097,
 'mei': 9376,
 'wonder': 16470,
 'jobfield': 7980,
 'marco': 9179,
 'best': 1993,
 'ahhh': 942,
 'lincoln': 8692,
 'run': 12587,
 'hours': 7273,
 'seeing': 12902,
 'pennywise': 11073,
 'year': 16751,
 'kinda': 8235,
 'bittersweet': 2104,
 'hadnt': 6652,
 'cried': 3800,
 'actually': 801,
 'read': 12018,
 'upno': 15707,
 'fair': 5355,
 'separate': 12955,
 'sistertoday': 13318,
 'role': 12471,
 'evil': 5216,
 'aunt': 1505,
 'played': 11321,
 'basically': 1816,
 've': 15818,
 'listened': 8719,
 'miley': 9523,
 'cyrus': 3935,
 'foueen': 5806,
 'playing': 11328,
 'bingo': 2076,
 'ladies': 8393,
 'bout': 2340,
 'maybeyou': 9273,
 'idk': 7436,
 'sosososo': 13657,
 'cory': 3655,
 'lamb': 8418,
 'hoursi': 7276,
 'kid': 8209,
 'ok': 10571,
 'exciting': 5243,
 'thought': 14795,
 'sixx': 13329,
 'davey': 4052,
 'profile': 11687,
 'radiator': 11926,
 'boiled': 2229,
 'dj': 4510,
 'paypeople': 11015,
 'cc': 2883,
 'kickingnext': 8207,
 'june': 8073,
 'suppose': 14232,
 'turn': 15358,
 'sentence': 12951,
 'outline': 10770,
 'research': 12288,
 'paper': 10934,
 'hour': 7272,
 'neck': 10103,
 'hus': 7378,
 'training': 15196,
 'vote': 15961,
 'mtv': 9903,
 'movie': 9853,
 'awards': 1553,
 'doe': 4543,
 'frustraded': 5936,
 'eyes': 5310,
 'hu': 7314,
 'rigging': 12390,
 'outso': 10783,
 'shoutout': 13181,
 'windows': 16365,
 'finished': 5575,
 'season': 12876,
 'feet': 5471,
 'baby': 1654,
 'phat': 11146,
 'farm': 5396,
 'applebottoms': 1289,
 'fubu': 5950,
 'weak': 16135,
 'double': 4624,
 'visteon': 15922,
 'belfast': 1951,
 'years': 16761,
 'salary': 12676,
 'shows': 13196,
 'stand': 13868,
 'london': 8827,
 'ha': 6636,
 'surprisingly': 14258,
 'considering': 3534,
 'mountains': 9840,
 'yay': 16713,
 'journal': 8026,
 'forget': 5778,
 'does': 4544,
 'flickr': 5642,
 'longer': 8838,
 'recognize': 12089,
 'mail': 9082,
 'addresses': 825,
 'log': 8788,
 'dun': 4780,
 'travel': 15224,
 'missing': 9600,
 'shan': 13034,
 'punjab': 11796,
 'plans': 11304,
 'messed': 9433,
 'stuck': 14056,
 'edwards': 4894,
 'update': 15690,
 'vet': 15853,
 'tests': 14609,
 'xrays': 16678,
 'past': 10976,
 'iï': 7845,
 '½ve': 17035,
 'appament': 1276,
 'itï': 7830,
 '½s': 17027,
 'difficult': 4375,
 'save': 12753,
 'greenlake': 6507,
 '4we51': 421,
 'summer': 14162,
 'goodies': 6354,
 'bagged': 1714,
 'boot': 2282,
 'including': 7546,
 'cross': 3818,
 'stitch': 13956,
 'birds': 2084,
 'craft': 3738,
 'room': 12490,
 'selling': 12928,
 'sweetie': 14323,
 'anybody': 1244,
 'special': 13718,
 'requests': 12275,
 'thursday': 14841,
 'bad': 1695,
 'twtvite': 15491,
 '3koyqo': 297,
 'aptw': 1315,
 'engagements': 5041,
 'register': 12155,
 'able': 712,
 'buy': 2646,
 'pre': 11557,
 'presale': 11586,
 'mayhem': 9276,
 'internet': 7671,
 'wake': 16012,
 'early': 4832,
 'geez': 6121,
 'villains': 15892,
 'tolddd': 15012,
 'thunder': 14833,
 'rainy': 11955,
 'scared': 12785,
 'hairstylist': 6698,
 'salon': 12682,
 'telling': 14559,
 'awwwwwwww': 1612,
 'dried': 4702,
 'glad': 6257,
 'happier': 6755,
 'barakitten': 1786,
 'yah': 16696,
 'july': 8066,
 'thankyou': 14661,
 'making': 9102,
 'person': 11113,
 'noes': 10302,
 'brokenno': 2478,
 'red': 12107,
 'standby': 13871,
 'light': 8661,
 'checked': 3023,
 'plug': 11368,
 'fuse': 6017,
 'inside': 7621,
 'morningwe': 9798,
 'seeeee': 12899,
 'sat': 12734,
 'couplemade': 3696,
 'super': 14210,
 'saying': 12764,
 'goodbye': 6343,
 'trusted': 15303,
 'free': 5842,
 'tried': 15258,
 'edit': 4882,
 'couldn': 3680,
 'add': 814,
 'namecan': 10043,
 'pop': 11455,
 'list': 8716,
 'polaroid': 11413,
 'roidweek': 12469,
 'srsly': 13834,
 'evr': 5218,
 'barbacoa': 1787,
 '4w855': 411,
 'operation': 10686,
 'success': 14111,
 'tired': 14925,
 'tweeters': 15397,
 'building': 2568,
 'websites': 16159,
 'blog': 2174,
 'faux': 5423,
 'gothy': 6400,
 'chick': 3075,
 'camden': 2727,
 'punk': 11797,
 'eat': 4853,
 'hilaaaaarious': 7062,
 'vernae': 15843,
 'mate': 9243,
 'fancy': 5387,
 'finden': 5561,
 'figure': 5529,
 'calls': 2715,
 'taltal': 14436,
 'taken': 14414,
 'aol': 1259,
 '96': 653,
 'added': 815,
 'coincidence': 3336,
 'tal': 14422,
 'head': 6862,
 'thumping': 14832,
 'care': 2795,
 'shall': 13024,
 'tweet': 15390,
 'hardcore': 6774,
 'jamie': 7873,
 'everyoneeeeexxxxxxloser': 5204,
 'omg': 10616,
 'conce': 3480,
 'madrigals': 9055,
 'chills': 3098,
 'piece': 11217,
 'brooks': 2486,
 'called': 2710,
 'alumni': 1083,
 'didnt': 4358,
 'watched': 16098,
 'marley': 9202,
 'watch': 16095,
 'twilight': 15431,
 'jt': 8050,
 'snl': 13515,
 'hi': 7031,
 'use': 15738,
 'confusing': 3515,
 'bubble': 2526,
 ...}

In [25]:
X_train_transformed = vect.transform(X_train)
X_test_transformed =vect.transform(X_test)

In [26]:
print(type(X_train_transformed))
print(X_train_transformed)

<class 'scipy.sparse.csr.csr_matrix'>
  (0, 5229)	1
  (0, 6395)	1
  (0, 8952)	1
  (0, 11551)	1
  (0, 14635)	1
  (0, 15337)	1
  (0, 16394)	1
  (0, 16681)	1
  (1, 181)	1
  (1, 1247)	1
  (1, 1336)	1
  (1, 4396)	1
  (1, 4743)	1
  (1, 5741)	1
  (1, 6395)	1
  (1, 9294)	1
  (1, 10701)	1
  (1, 11465)	1
  (1, 14123)	1
  (1, 14253)	1
  (2, 5255)	1
  (2, 5801)	1
  (2, 6487)	1
  (2, 8851)	1
  (2, 16170)	1
  :	:
  (11996, 1295)	1
  (11996, 3254)	1
  (11996, 4301)	1
  (11996, 10164)	2
  (11996, 14698)	1
  (11996, 15310)	1
  (11996, 15455)	1
  (11997, 56)	1
  (11997, 256)	1
  (11997, 4832)	1
  (11997, 10237)	1
  (11997, 10246)	1
  (11997, 16118)	1
  (11998, 5465)	1
  (11998, 8968)	1
  (11998, 10118)	1
  (11998, 11782)	1
  (11998, 14205)	1
  (11998, 15609)	1
  (11999, 1648)	1
  (11999, 5782)	1
  (11999, 7880)	1
  (11999, 8731)	1
  (11999, 12406)	1
  (11999, 14889)	1

In [39]:
from sklearn.svm import SVC
svcclassifier = SVC(kernel = 'sigmoid', random_state = 1)
svcclassifier.fit(X_train_transformed, y_train)

SVC(kernel='sigmoid', random_state=1)

In [40]:
y_pred = svcclassifier.predict(X_test_transformed)
print(y_pred)

['neutral' 'neutral' 'worry' ... 'neutral' 'neutral' 'neutral']

In [41]:
from sklearn import metrics
print(metrics.accuracy_score(y_test,y_pred))

0.3344285714285714