In [1]:
import pandas as pd
#import numpy as np

In [2]:
#Read the DataFrame
df=pd.read_csv('text_emotion.csv')
df.head()

,tweet_id,emotion,author,content
0,1956967666,sadness,wannamama,Layin n bed with a headache ughhhh...waitin o...
1,1956967696,sadness,coolfunky,Funeral ceremony...gloomy friday...
2,1956968487,sadness,ShansBee,"I should be sleep, but im not! thinking about ..."
3,1956969035,sadness,nic0lepaula,@charviray Charlene my love. I miss you
4,1956969172,sadness,Ingenue_Em,@kelcouch I'm sorry at least it's Friday?

In [3]:
#remove unwanted columns
df=df.drop(['tweet_id','author'], axis =1)
df.head()

   emotion                                            content
0  sadness  Layin n bed with a headache  ughhhh...waitin o...
1  sadness                Funeral ceremony...gloomy friday...
2  sadness  I should be sleep, but im not! thinking about ...
3  sadness            @charviray Charlene my love. I miss you
4  sadness         @kelcouch I'm sorry  at least it's Friday?

In [4]:
#convert content to lowercase
df.content=df.content.str.lower()
df.head()

   emotion                                            content
0  sadness  layin n bed with a headache  ughhhh...waitin o...
1  sadness                funeral ceremony...gloomy friday...
2  sadness  i should be sleep, but im not! thinking about ...
3  sadness            @charviray charlene my love. i miss you
4  sadness         @kelcouch i'm sorry  at least it's friday?

In [5]:
#replace blank space
df.content=df.content.str.replace("rt","")
df.head()

   emotion                                            content
0  sadness  layin n bed with a headache  ughhhh...waitin o...
1  sadness                funeral ceremony...gloomy friday...
2  sadness  i should be sleep, but im not! thinking about ...
3  sadness            @charviray charlene my love. i miss you
4  sadness         @kelcouch i'm sorry  at least it's friday?

In [6]:
#replace @username
df.content=df.content.str.replace("@\\w+","")
df.head()

   emotion                                            content
0  sadness  layin n bed with a headache  ughhhh...waitin o...
1  sadness                funeral ceremony...gloomy friday...
2  sadness  i should be sleep, but im not! thinking about ...
3  sadness                       charlene my love. i miss you
4  sadness                   i'm sorry  at least it's friday?

In [7]:
#remove punctuation
df.content=df.content.str.replace("[[:punct:]]","")
df.head()

   emotion                                            content
0  sadness  layin n bed with a headache  ughhhh...waitin o...
1  sadness                funeral ceremony...gloomy friday...
2  sadness  i should be sleep, but im not! thinking about ...
3  sadness                       charlene my love. i miss you
4  sadness                   i'm sorry  at least it's friday?

In [8]:
#remove links
df.content=df.content.str.replace("http\\w+","")
df.head()

   emotion                                            content
0  sadness  layin n bed with a headache  ughhhh...waitin o...
1  sadness                funeral ceremony...gloomy friday...
2  sadness  i should be sleep, but im not! thinking about ...
3  sadness                       charlene my love. i miss you
4  sadness                   i'm sorry  at least it's friday?

In [9]:
#remove tabs
df.content=df.content.str.replace("[ |\t]{2,}","")
df.head()

   emotion                                            content
0  sadness  layin n bed with a headacheughhhh...waitin on ...
1  sadness                funeral ceremony...gloomy friday...
2  sadness  i should be sleep, but im not! thinking about ...
3  sadness                       charlene my love. i miss you
4  sadness                     i'm sorryat least it's friday?

In [10]:
#remove blank spaces at the beginning
df.content=df.content.str.replace("^ ","")
df.head()

   emotion                                            content
0  sadness  layin n bed with a headacheughhhh...waitin on ...
1  sadness                funeral ceremony...gloomy friday...
2  sadness  i should be sleep, but im not! thinking about ...
3  sadness                       charlene my love. i miss you
4  sadness                     i'm sorryat least it's friday?

In [11]:
#remove blank spaces at the end
df.content=df.content.str.replace(" $","")
df.head()

   emotion                                            content
0  sadness  layin n bed with a headacheughhhh...waitin on ...
1  sadness                funeral ceremony...gloomy friday...
2  sadness  i should be sleep, but im not! thinking about ...
3  sadness                       charlene my love. i miss you
4  sadness                     i'm sorryat least it's friday?

In [12]:
emotion_type=df.emotion.value_counts()
emotion_type

happiness    5209
sadness      5165
surprise     2187
anger         110
Name: emotion, dtype: int64

In [13]:
X=df.content
X.head()

0    layin n bed with a headacheughhhh...waitin on ...
1                  funeral ceremony...gloomy friday...
2    i should be sleep, but im not! thinking about ...
3                         charlene my love. i miss you
4                       i'm sorryat least it's friday?
Name: content, dtype: object

In [14]:
print(X.shape)

(12671,)

In [15]:
y=df.emotion
y.head()

0    sadness
1    sadness
2    sadness
3    sadness
4    sadness
Name: emotion, dtype: object

In [16]:
print(y.shape)

(12671,)

In [17]:
from sklearn.model_selection  import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 82)

In [18]:
X_train.head()

262      hahaha oh man please come to pomona i would lo...
10352             yay!!! i'm so happy you got to meet her!
1436     woke up to the sound of my neighbor getting a ...
4908                             following'causeordered it
800                       its my burfday and i'm all alone
Name: content, dtype: object

In [19]:
y_train.head()

262      happiness
10352    happiness
1436      surprise
4908       sadness
800        sadness
Name: emotion, dtype: object

In [20]:
X_test.head()

4092    waaah! masseuse is fully booked. no shoulder r...
325              sorry, is only in spanish for the moment
7432    is such a good big cousin as shes taking her l...
8526    my computer is so slooowww this morning.i thin...
6364    i'm bored... don't want to stay home tonight, ...
Name: content, dtype: object

In [21]:
y_test.head()

4092     surprise
325       sadness
7432    happiness
8526      sadness
6364      sadness
Name: emotion, dtype: object

In [22]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer(stop_words='english')

In [23]:
vect.fit(X_train)
vect.vocabulary_

{'hahaha': 5460,
 'oh': 8632,
 'man': 7493,
 'come': 2759,
 'pomona': 9390,
 'love': 7318,
 'everyday': 4209,
 'instead': 6267,
 'like': 7129,
 'year': 13750,
 'yay': 13715,
 'happy': 5554,
 'got': 5227,
 'meet': 7665,
 'woke': 13498,
 'sound': 11197,
 'neighbor': 8270,
 'getting': 5048,
 'new': 8314,
 'roof': 10234,
 'following': 4676,
 'causeordered': 2350,
 'burfday': 2114,
 'theyre': 12060,
 'sappin': 10437,
 'mah': 7451,
 'sentry': 10624,
 'errr': 4156,
 'yea': 13730,
 'power': 9459,
 'home': 5862,
 'right': 10146,
 'thanks': 11990,
 'gifford': 5066,
 'lectures': 7038,
 'page': 8893,
 'great': 5301,
 'interview': 6294,
 'videos': 12994,
 'favorite': 4426,
 'youtube': 13860,
 'im': 6152,
 'tired': 12218,
 'responsabilities': 10070,
 'wish': 13448,
 'kid': 6736,
 'money': 7964,
 'anymore': 971,
 'really': 9869,
 'waste': 13176,
 'nice': 8342,
 'win': 13417,
 'dodgers': 3689,
 'giants': 5061,
 'alison': 779,
 'miley': 7796,
 'tell': 11923,
 'shoutout': 10791,
 'fan': 4385,
 'playing': 9320,
 'board': 1787,
 'games': 4958,
 'mosquito': 8037,
 'truck': 12532,
 'waking': 13110,
 'saying': 10471,
 'goodbye': 5185,
 'tofor': 12302,
 'yearshe': 13758,
 'awesome': 1233,
 'helping': 5718,
 'fit': 4574,
 'team': 11883,
 'veritas': 12970,
 'http': 5997,
 'twitpic': 12661,
 'com': 2750,
 '4wiqv': 318,
 'awwww': 1267,
 'looks': 7272,
 'kittylittle': 6791,
 'furry': 4911,
 'balls': 1368,
 'best': 1612,
 'going': 5163,
 'sleep': 10967,
 'cuddle': 3134,
 'turning': 12591,
 'tricks': 12511,
 'van': 12937,
 'buren': 2113,
 '11': 41,
 'days': 3317,
 'till': 12185,
 'county': 2999,
 'ralyi': 9796,
 'tak': 11796,
 '14': 63,
 'took': 12369,
 'god': 5148,
 'bless': 1727,
 'sexy': 10661,
 'rahul': 9773,
 'picture': 9226,
 'ok': 8656,
 'looking': 7270,
 'forward': 4735,
 'welcome': 13279,
 'life': 7109,
 'know': 6818,
 'doesn': 3692,
 'exist': 4275,
 '12': 49,
 'ca': 2181,
 'paniniii': 8950,
 'sure': 11671,
 'blog': 1748,
 'today': 12264,
 'check': 2466,
 'friends': 4815,
 'bet': 1617,
 'ones': 8706,
 'poor': 9402,
 'babyyou': 1304,
 'need': 8254,
 'aloe': 816,
 'nope': 8451,
 'sorry': 11178,
 'hints': 5802,
 'killers': 6755,
 'coming': 2778,
 'td': 11871,
 'banknoh': 1391,
 'boston': 1874,
 '30pm': 183,
 'tickets': 12154,
 'sale': 10397,
 'sat': 10446,
 've': 12949,
 'blah': 1705,
 'blahing': 1706,
 'yep': 13778,
 'forgot': 4719,
 'sorrybut': 11180,
 'youre': 13854,
 'deserve': 3475,
 'strained': 11457,
 'muscle': 8136,
 'lower': 7339,
 'amp': 874,
 'hus': 6055,
 'running': 10317,
 'weekend': 13244,
 'gangstarr': 4965,
 'exgirl': 4268,
 'girl': 5087,
 'nas': 8219,
 'mic': 7764,
 'hold': 5841,
 'listen': 7169,
 'guess': 5381,
 'dont': 3727,
 'matter': 7585,
 'sad': 10352,
 'just': 6637,
 'reminder': 10006,
 'phone': 9180,
 'recharge': 9899,
 'toothbrush': 12387,
 'sadface': 10363,
 'boo': 1817,
 'daddy': 3211,
 'dental': 3448,
 'bridge': 1976,
 'tooth': 12385,
 'table': 11774,
 'uh': 12739,
 'shiney': 10726,
 'plastic': 9308,
 'chew': 2508,
 'sawwy': 10466,
 'pauly': 9029,
 'wallly': 13125,
 'fucking': 4855,
 'hell': 5700,
 'x3': 13660,
 'reply': 10037,
 'cool': 2934,
 'linux': 7159,
 'damn': 3228,
 'stephane': 11405,
 'feel': 4453,
 'work': 13552,
 'aw': 1218,
 'toronto': 12398,
 'def': 3398,
 'ya': 13692,
 'tonight': 12332,
 'rn': 10171,
 'photo': 9189,
 'didn': 3546,
 'yesterdaylol': 13799,
 'doing': 3707,
 'don': 3718,
 'forget': 4714,
 'hi': 5758,
 'jakki': 6435,
 'hug': 6009,
 'want': 13136,
 'super': 11645,
 'prettyand': 9516,
 'cig': 2598,
 'friend': 4812,
 'massive': 7565,
 'beatles': 1503,
 'wasn': 13171,
 'impressed': 6175,
 'hmm': 5822,
 'disappointed': 3608,
 'servings': 10647,
 'able': 538,
 'enjoy': 4094,
 'stomach': 11439,
 'fullwishing': 4870,
 'company': 2800,
 'help': 5714,
 'ireland': 6334,
 'mom': 7938,
 'left': 7043,
 'feeling': 4456,
 'pretty': 9515,
 'poo': 9396,
 'feelin': 4455,
 '2day': 151,
 'haha': 5453,
 'hope': 5918,
 'laugh': 6982,
 'laughter': 6988,
 'medicine': 7652,
 'omg': 8689,
 'yesssss': 13791,
 'danny': 3257,
 'song': 11139,
 'liam': 7092,
 'peed': 9083,
 'potty': 9447,
 'good': 5184,
 'morning': 8014,
 'tweeties': 12625,
 'rested': 10077,
 'richmond': 10130,
 'ready': 9850,
 'hit': 5811,
 'beach': 1484,
 'bihday': 1655,
 'weathers': 13220,
 'thursday': 12144,
 'friday': 4805,
 'il': 6137,
 'scream': 10531,
 'day': 3297,
 'keiron': 6699,
 'iï': 6411,
 '½m': 13934,
 'ooh': 8723,
 'soon': 11148,
 'dung': 3881,
 'mice': 7765,
 'goodnight': 5195,
 'mothers': 8040,
 'visit': 13021,
 'profile': 9580,
 'silly': 10875,
 'offspring': 8626,
 'funny': 4900,
 'picks': 9219,
 'nose': 8462,
 'excited': 4252,
 'enfest': 4081,
 'yaaaay': 13696,
 'finished': 4550,
 'recording': 9918,
 'improvisation': 6183,
 'second': 10579,
 'instrument': 6270,
 'latest': 6978,
 'podcast': 9357,
 'nearly': 8248,
 'mixing': 7888,
 'time': 12188,
 'gosh': 5224,
 'close': 2668,
 'finishing': 4554,
 'wait': 13097,
 'somewhat': 11134,
 'town': 12428,
 'visitng': 13025,
 'uncle': 12762,
 'boyet': 1905,
 'famm': 4381,
 'noice': 8421,
 'realised': 9855,
 'exams': 4245,
 'weeksforgot': 13262,
 'weeks': 13261,
 'unit': 12792,
 'term': 11943,
 'thing': 12068,
 'aww': 1254,
 'thank': 11986,
 'thinking': 12079,
 'caring': 2294,
 'ive': 6401,
 'walked': 13116,
 '05': 6,
 'kilometres': 6759,
 'ass': 1112,
 'kicked': 6732,
 'tripoly': 12517,
 'loli': 7234,
 'bad': 1323,
 'cards': 2285,
 'suck': 11558,
 'scared': 10480,
 'daleks': 3222,
 'dw': 3895,
 'exhibition': 4273,
 'cardiff': 2283,
 'boyfriend': 1907,
 'evening': 4193,
 'shift': 10718,
 'tomorrow': 12317,
 'working': 13570,
 'arrested': 1074,
 'hotel': 5959,
 'cont': 2897,
 'bastardized': 1437,
 'version': 12976,
 'french': 4788,
 'fun': 4873,
 'believe': 1571,
 'wassup': 13175,
 'beautiful': 1508,
 'follow': 4664,
 'peep': 9087,
 'singles': 10895,
 'www': 13644,
 'myspace': 8167,
 'ipsohot': 6329,
 'wat': 13180,
 'video': 12993,
 'woo': 13523,
 'subject': 11542,
 'month': 7983,
 'use': 12882,
 'sparklers': 11233,
 'yes': 13784,
 'bs': 2051,
 'men': 7711,
 'lie': 7102,
 'll': 7196,
 'marry': 7551,
 '33hus': 194,
 'baby': 1296,
 'chinese': 2538,
 'lunch': 7374,
 'buffet': 2079,
 '50': 327,
 'add': 609,
 'soda': 11099,
 '25': 131,
 'noticing': 8478,
 'health': 5651,
 'inspection': 6253,
 'score': 10515,
 '81': 472,
 'walk': 13115,
 'bag': 1334,
 'priceless': 9527,
 'seen': 10591,
 'game': 4953,
 'website': 13229,
 'awesomness': 1240,
 'msn': 8089,
 'sotomayor': 11191,
 'big': 1650,
 'talking': 11809,
 'making': 7475,
 'law': 6998,
 'branches': 1931,
 'car': 2274,
 'haven': 5604,
 'luck': 7354,
 'draining': 3779,
 'iphone': 6324,
 'battery': 1454,
 'half': 5503,
 'single': 10894,
 'sucks': 11564,
 'months': 7986,
 'old': 8670,
 'huge': 6011,
 'fail': 4344,
 'apple': 1003,
 'pa': 8877,
 'called': 2214,
 'youlmao': 13846,
 'stop': 11441,
 'relying': 9992,
 'family': 4380,
 'say': 10467,
 'field': 4502,
 'ribbons': 10124,
 'bali': 1362,
 'gloomy': 5126,
 'la': 6886,
 'sunbut': 11620,
 'mtv': 8095,
 'does': 3691,
 'allow': 803,
 'vote': 13062,
 'rain': 9778,
 'drops': 3831,
 'falling': 4371,
 'head': 5633,
 'watched': 13182,
 'sex': 10659,
 'city': 2614,
 'season': 10566,
 'drank': 3784,
 'little': 7180,
 'wine': 13430,
 'date': 3281,
 'ended': 4070,
 'kiss': 6781,
 'used': 12883,
 'thisnight': 12083,
 'night': 8364,
 'oin': 8653,
 'cynthia': 3197,
 'dinner': 3588,
 'cute': 3172,
 'place': 9284,
 'sick': 10837,
 'twitter': 12664,
 'depressing': 3467,
 'tour': 12416,
 'seriously': 10637,
 'line': 7150,
 'sayin': 10470,
 'mango': 7509,
 'medley': 7656,
 'yummy': 13885,
 'ice': 6087,
 'cream': 3057,
 'emilie': 4043,
 'hour': 5963,
 'talk': 11806,
 'later': 6973,
 'kill': 6751,
 'sickn': 10846,
 'everybody': 4208,
 'needs': 8260,
 'thier': 12063,
 'ownguns': 8864,
 'roses': 10250,
 'blip': 1735,
 'fm': 4645,
 '5z5kz': 372,
 'tom': 12310,
 'wanna': 13132,
 'play': 9313,
 'summer': 11596,
 'glau': 5117,
 'appear': 997,
 'dollhouse': 3714,
 'tinyurl': 12211,
 'mnrezc': 7905,
 'won': 13513,
 'renew': 10018,
 'tscc': 12552,
 'finally': 4537,
 'bed': 1526,
 'hoo': 5902,
 'gotta': 5234,
 '5am': 343,
 'lots': 7307,
 'things': 12072,
 'ugh': 12729,
 'soooo': 11157,
 'trying': 12549,
 'make': 7467,
 '10': 20,
 'train': 12458,
 'sunday': 11622,
 'office': 8615,
 'star': 11365,
 'wars': 13162,
 'sunbathing': 11614,
 'bombed': 1806,
 'church': 2587,
 'missed': 7860,
 'awww': 1261,
 'thts': 12136,
 'hun': 6039,
 'having': 5607,
 'worst': 13599,
 '1000': 22,
 'settled': 10655,
 '100': 21,
 'learning': 7025,
 'guitar': 5393,
 'quickly': 9729,
 'naturally': 8231,
 '20': 104,
 'mins': 7829,
 'bej': 1563,
 'semanggi': 10608,
 'traffic': 12447,
 'siggghh': 10854,
 'scene': 10487,
 'end': 4068,
 'ties': 12167,
 'comic': 2774,
 'book': 1827,
 'movie': 8061,
 'think': 12075,
 'gold': 5168,
 'diggerhahahaha': 3574,
 'chillin': 2530,
 'christina': 2577,
 'diana': 3531,
 'jeje': 6492,
 'sm': 11011,
 'free': 4774,
 'cares': 2291,
 'jaja': 6432,
 'weather': 13219,
 'stuck': 11508,
 'doors': 3738,
 'sunny': 11627,
 'entered': 4111,
 'sub': 11538,
 'basement': 1422,
 'raining': 9784,
 'apparently': 993,
 'looong': 7275,
 'seeing': 10588,
 'sweater': 11717,
 'sandwich': 10424,
 'fantastic': 4393,
 'boss': 1873,
 'texted': 11971,
 'lt': 7347,
 'asked': 1103,
 'suit': 11588,
 'heading': 5640,
 'looked': 7267,
 'whore': 13373,
 'apples': 1004,
 'total': 12405,
 'bummer': 2101,
 'lost': 7301,
 'followers': 4669,
 'celebrating': 2373,
 'mother': 8039,
 'pie': 9231,
 'mmmm': 7898,
 'shower': 10795,
 'hate': 5590,
 'closing': 2675,
 'eek': 3980,
 'smiles': 11029,
 'aloha': 817,
 'kitchen': 6784,
 'yum': 13881,
 'came': 2220,
 'hanging': 5534,
 'cocktails': 2708,
 'drunk': 3846,
 'woken': 13499,
 'neighbour': 8273,
 'kids': 6744,
 'screaming': 10534,
 'garden': 4973,
 '8am': 478,
 'benevolent': 1598,
 'mood': 7993,
 'warned': 13155,
 'bit': 1681,
 'ly': 7393,
 '3w9w1noooo': 228,
 'goes': 5158,
 'orlando': 8788,
 'omgi': 8692,
 'gonna': 5183,
 'sunburn': 11616,
 'huingjack': 6024,
 'whitehall': 13357,
 'mmmmm': 7899,
 'enjoying': 4097,
 'news': 8323,
 'android': 905,
 'based': 1421,
 'devices': 3506,
 'especially': 4162,
 'mobile': 7910,
 'giddy': 5065,
 'stas': 11377,
 'saving': 10461,
 'tmobile': 12242,
 'hey': 5746,
 'hunniehow': 6046,
 'miss': 7858,
 'talkin': 11808,
 'ty': 12703,
 'job': 6541,
 'makeup': 7473,
 'gots': 5233,
 'fineand': 4545,
 'shot': 10781,
 'beneath': 1595,
 'cancelled': 2240,
 'wont': 13522,
 'til': 12181,
 'cornerstonewho': 2961,
 'goign': 5161,
 'miles': 7795,
 'youi': 13842,
 'essex': 4169,
 'plenty': 9338,
 'warning': 13156,
 'arrive': 1075,
 'beers': 1544,
 'c8nlzh': 2179,
 'list': 7167,
 'park': 8983,
 'closures': 2677,
 'calaveras': 2203,
 'trees': 12490,
 'sp': 11217,
 'headed': 5639,
 'glad': 5110,
 'visiting': 13024,
 'late': 6968,
 'daaay': 3206,
 'visteon': 13029,
 'belfast': 1568,
 'years': 13757,
 'salary': 10396,
 'paid': 8902,
 'shows': 10805,
 'happens': 5547,
 'stand': 11358,
 'miracle': 7840,
 'using': 12893,
 'tweet': 12613,
 'warwick': 13163,
 'castle': 2330,
 'snurl': 11079,
 'izzau': 6408,
 'amazing': 845,
 'devon': 3511,
 'week': 13240,
 'internet': 6285,
 'updates': 12826,
 'shit': 10738,
 'steve': 11411,
 'send': 10613,
 'pictures': 9228,
 'yard': 13709,
 'ewww': 4234,
 'printed': 9541,
 'badge': 1327,
 'thingie': 12070,
 'eww': 4233,
 'ugly': 12738,
 'stressin': 11483,
 'core': 2956,
 'supposed': 11666,
 'cleaning': 2644,
 'room': 10236,
 'feels': 4458,
 'crap': 3043,
 'australia': 1197,
 'gets': 5045,
 '4th': 294,
 'figure': 4513,
 'tweeter': 12620,
 'club': 2685,
 'sho': 10750,
 'playedfriendly': 9316,
 'gm': 5134,
 'bulgaria': 2090,
 'pt': 9634,
 'offensively': 8605,
 'timing': 12204,
 'israel': 6351,
 'sun': 11609,
 'cut': 3170,
 'players': 9317,
 'phl': 9177,
 'delays': 3419,
 'flight': 4613,
 'schedule': 10494,
 'bummed': 2100,
 'missing': 7867,
 'jay': 6470,
 'leno': 7065,
 'chillen': 2527,
 'csla': 3124,
 'waiting': 13100,
 'sta': 11336,
 'watchin': 13184,
 'pacquiao': 8889,
 'rerun': 10052,
 'monday': 7957,
 'tried': 12512,
 'water': 13188,
 'plants': 9305,
 'early': 3919,
 'jammies': 6444,
 'caught': 2347,
 'neighbors': 8272,
 'hair': 5482,
 'spending': 11266,
 'tummy': 12579,
 'nah': 8188,
 'minehad': 7820,
 'fingers': 4548,
 'hahaah': 5457,
 'crys': 3119,
 'blowing': 1768,
 'fuses': 4912,
 'typical': 12710,
 'feverdont': 4484,
 'heaps': 5655,
 'uses': 12889,
 'logic': 7225,
 'admit': 625,
 'did': 3542,
 'mac': 7412,
 'mcdonald': 7615,
 'promoting': 9601,
 'mccafe': 7613,
 'similar': 10880,
 'starbucks': 11366,
 'mcsmoothies': 7623,
 'jamba': 6439,
 'juice': 6617,
 'becuz': 1525,
 'honest': 5888,
 'lets': 7076,
 'look': 7266,
 'ending': 4072,
 'smile': 11027,
 'face': 4328,
 'mums': 8126,
 'nelly': 8278,
 'shout': 10789,
 'outhttp': 8816,
 'skitch': 10947,
 'tac': 11779,
 'thought': 12111,
 'simple': 10882,
 'onei': 8705,
 'hilarious': 5782,
 'thanx': 12007,
 'answer': 949,
 'private': 9547,
 'mail': 7454,
 'sooo': 11155,
 'birmingham': 1678,
 'hear': 5656,
 'abt': 549,
 'firefox': 4564,
 'crashing': 3047,
 'pw': 9686,
 'wrong': 13632,
 'signing': 10864,
 'ur': 12862,
 'children': 2519,
 'aicle': 717,
 'neil': 8276,
 'gaiman': 4941,
 'tease': 11890,
 'bea': 1482,
 'way': 13200,
 '21': 121,
 'olds': 8673,
 'dreaded': 3792,
 'dmv': 3675,
 'traveling': 12478,
 'grandpa': 5282,
 'hospital': 5952,
 'road': 10173,
 'block': 1741,
 'cross': 3090,
 'wow': 13606,
 'bookmarks': 1836,
 'spent': 11267,
 'organizing': 8781,
 'blonding': 1761,
 'slowly': 11003,
 'surely': 11674,
 'wana': 13129,
 'scratch': 10527,
 'allowed': 805,
 'twitterverse': 12687,
 'keeping': 6696,
 'enteained': 4107,
 'try': 12546,
 'restos': 10082,
 'fuunnlet': 4916,
 'downtown': 3767,
 'dead': 3352,
 'plus': 9349,
 'kinda': 6765,
 'imagine': 6159,
 'reactions': 9844,
 'twitterfollow': 12669,
 'tweets': 12630,
 'exploring': 4298,
 'xd': 13669,
 'vacation': 12922,
 'cleaned': 2640,
 'bathrooms': 1448,
 'afternoon': 660,
 'ahead': 701,
 'lol': 7230,
 'attention': 1167,
 'spanish': 11228,
 'min': 7813,
 'xx': 13683,
 'chelsee': 2498,
 'amiera': 869,
 'ufc': 12725,
 'gt': 5374,
 'tooo': 12374,
 'strek': 11477,
 'nqud': 8517,
 'hu': 5998,
 'finger': 4547,
 'blues': 1775,
 'sadly': 10371,
 'streamline': 11472,
 'ii': 6127,
 'sold': 11113,
 'trunk': 12539,
 'available': 1208,
 'size': 10922,
 'halfway': 5504,
 'telling': 11924,
 'cos': 2972,
 'replies': 10036,
 'funnn': 4897,
 'whoopi': 13368,
 'chuck': 2582,
 'woolery': 13533,
 'watching': 13185,
 'supernatural': 11650,
 'exciting': 4257,
 'ouch': 8803,
 'wishes': 13450,
 'teased': 11891,
 '70s': 447,
 'travel': 12476,
 'charlenedianetravels': 2440,
 'blogspot': 1757,
 'filling': 4523,
 'entries': 4119,
 'staing': 11349,
 'real': 9853,
 'hard': 5563,
 'hairstylist': 5494,
 'salon': 10400,
 'newstime': 8328,
 'incredibly': 6201,
 'decision': 3382,
 'cakes': 2199,
 'youummm': 13864,
 'tks': 12237,
 'phrase': 9203,
 'doubt': 3751,
 'mo': 7907,
 'williams': 13411,
 'streak': 11468,
 'okay': 8658,
 'btw': 2055,
 'brothers': 2031,
 'cold': 2723,
 'outsidetoday': 8824,
 'exam': 4241,
 'shooting': 10768,
 'nest': 8295,
 'maybe': 7598,
 'hella': 5701,
 'disneyland': 3645,
 'stanight': 11364,
 'people': 9116,
 'xxx': 13684,
 'justwatched': 6644,
 'premier': 9494,
 'jonkate': 6580,
 'andi': 898,
 'pull': 9649,
 'let': 7074,
 'knee': 6804,
 'surgery': 11679,
 'david': 3289,
 'talented': 11804,
 'course': 3005,
 '516': 332,
 'hits': 5812,
 'guinea': 5391,
 'pig': 9237,
 'webshots': 13228,
 'promote': 9600,
 'quoted': 9746,
 'boys': 1910,
 'steal': 11397,
 'kisses': 6782,
 'ben': 1591,
 'harper': 5575,
 'comes': 2767,
 'ipod': 6327,
 'beat': 1500,
 'boxing': 1902,
 'beginning': 1554,
 'food': 4688,
 'desse': 3491,
 'frozen': 4838,
 'grand': 5276,
 'marnier': 7545,
 'souffle': 11192,
 'eat': 3941,
 'bar': 1399,
 'wore': 13551,
 'black': 1697,
 'rats': 9821,
 'flowy': 4631,
 'shi': 10716,
 'dozen': 3769,
 'mixed': 7886,
 'oystsers': 8873,
 'seafood': 10557,
 'platter': 9311,
 'death': 3365,
 'chocolate': 2555,
 'cavs': 2353,
 'crush': 3106,
 'magic': 7445,
 'noh': 8418,
 'realize': 9858,
 'dude': 3866,
 'ivy': 6402,
 'decided': 3380,
 'wants': 13141,
 'boat': 1792,
 'guys': 5420,
 'pm': 9351,
 'breaking': 1953,
 'tweeted': 12618,
 'hopewelcome': 5926,
 'bailey': 1348,
 'create': 3058,
 'itunes': 6392,
 'acct': 573,
 'longer': 7258,
 'redeem': 9928,
 'kris': 6859,
 'allen': 790,
 'album': 754,
 'note': 8464,
 'said': 10388,
 'canceled': 2238,
 'terrell': 11946,
 'texas': 11967,
 'district': 3655,
 'council': 2991,
 'seat': 10569,
 'hello': 5708,
 'emm': 4046,
 'gee': 5014,
 'quebec': 9717,
 '16': 77,
 'scrape': 10526,
 'oven': 8837,
 'blerg': 1726,
 'gift': 5067,
 'shh': 10713,
 'slideshow': 10989,
 'ori': 8783,
 'ride': 10138,
 'woohooo': 13531,
 'knew': 6809,
 'eh': 4001,
 'alright': 828,
 'near': 8244,
 'quality': 9713,
 ...}

In [24]:
X_train_transformed = vect.transform(X_train)
X_test_transformed =vect.transform(X_test)

In [25]:
print(type(X_train_transformed))
print(X_train_transformed)

<class 'scipy.sparse.csr.csr_matrix'>
  (0, 2759)	1
  (0, 4209)	1
  (0, 5460)	1
  (0, 6267)	1
  (0, 7129)	1
  (0, 7318)	1
  (0, 7493)	1
  (0, 8632)	1
  (0, 9390)	1
  (0, 13750)	1
  (1, 5227)	1
  (1, 5554)	1
  (1, 7665)	1
  (1, 13715)	1
  (2, 5048)	1
  (2, 8270)	1
  (2, 8314)	1
  (2, 10234)	1
  (2, 11197)	1
  (2, 13498)	1
  (3, 2350)	1
  (3, 4676)	1
  (4, 2114)	1
  (5, 4156)	1
  (5, 5862)	1
  :	:
  (8867, 3816)	1
  (8867, 4537)	1
  (8867, 5163)	1
  (8867, 6152)	1
  (8867, 7024)	1
  (8867, 7193)	1
  (8867, 7945)	1
  (8867, 9607)	1
  (8867, 9621)	1
  (8867, 10301)	1
  (8867, 12657)	1
  (8868, 874)	1
  (8868, 4039)	1
  (8868, 4873)	1
  (8868, 5192)	1
  (8868, 8678)	1
  (8868, 9150)	1
  (8868, 9212)	1
  (8868, 10005)	1
  (8868, 10464)	1
  (8868, 11148)	1
  (8868, 12089)	1
  (8868, 12862)	1
  (8868, 13669)	1
  (8868, 13795)	1

In [26]:
from sklearn.svm import SVC
svcclassifier = SVC(kernel = 'rbf', random_state = 1)
svcclassifier.fit(X_train_transformed, y_train)

SVC(random_state=1)

In [27]:
y_pred = svcclassifier.predict(X_test_transformed)
print(y_pred)

['sadness' 'sadness' 'happiness' ... 'happiness' 'happiness' 'happiness']

In [28]:
from sklearn import metrics
print(metrics.accuracy_score(y_test,y_pred))

0.6349289847448711